__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.db
*.sqlite
*.sqlite3
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
node_modules/
.pytest_cache/
.coverage
htmlcov/
